<div class="container">
    <div class="jumbotron text-center" style="padding-bottom:0px;">
        <h2>AngularJS & Firebase App!</h2>
    </div>
    <form class="form-signin" name="signinForm" role="form">
        <div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email">
            <p ng-show="signinForm.email.$invalid">Enter a valid email.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : signinForm.password.$invalid }">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8">
            <p ng-show="signinForm.password.$error.minlength">Min password length is 8 characters.</p>
        </div>
        <!-- <label class="checkbox">
                <a href="#/register"> Create an account<a/>
        </label> -->
        <button ng-disabled="!user.email || !user.password" type="button" ng-click="SignIn(user)"  class="btn btn-lg btn-primary btn-block">Log In</button>
    </form>
</div>

